/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  color: #22343d;
  background: #fff;
  font-family: 'Poppins', sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* #region header */

.header-flex {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.link-header {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  padding: 22px 0;
  margin-right: 237px;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-list a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}
.nav-list-item-one a {
  font-weight: 600;
}

.nav-list-button {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-left: auto;
}

.button-one {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  width: 105px;
  height: 42px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  cursor: pointer;
}
.button-two {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* #endregion header */

/* #region section one */

.section-one {
  padding: 25px 0 100px;
}
.section-one-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}
.section-one-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
}
.section-one-flex {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
}
.section-one-list {
  display: flex;
  align-items: center;
  /* gap: 30px; */
}
.section-one-container {
  margin: 112px 35px 112px 0;
}

.section-one-button-one {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}
.section-one-button-two {
  border: none;
  background-color: #fff;
  color: #02897a;
  padding: 0 0;
  cursor: pointer;
}
.section-one-button-three {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
  background-color: #fff;
  padding: 0 0;
  margin-left: 8px;
  cursor: pointer;
}
/* #endregion section one */

/* #region section two */
.container-two {
  max-width: 1030px;
}
.section-two {
  padding-bottom: 50px;
}

.section-two-title {
  max-width: 506px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section-two-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.section-two-list-item {
  width: calc((100% - 90px) / 4);
}
.section-two-list-item img {
  margin-bottom: 26px;
}
.section-two-list-title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}
.section-two-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  /* line-height: 26px;  */
}

.section-two-button {
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
/* #endregion section two */

/* #region section three */
.section-three {
  padding: 0 0 100px;
}

.section-three-container-flex {
  display: flex;
  gap: 84px;
  justify-content: space-between;
  align-items: center;
}
.section-three-wrapper {
  max-width: 486px;
  padding: 41px 0;
}
.section-three-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.section-three-title-span {
  display: block;
  margin-top: 8px;
  font-weight: 700;
  font-size: 32px;
}
.section-three-text {
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.section-three-list {
  margin-top: 30px;
}
.section-three-list-item:nth-child(2) {
  margin-top: 25px;
}
.section-three-list-item-text {
  margin-top: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.section-three-list-item-tittle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

/* #endregion section three */

/* #region section four */

.section-four {
  padding: 0 0 100px;
}




/* #endregion section four */

